<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".application.EarlyExecutionApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EarlyExecution"
        tools:targetApi="31">
        <activity
            android:name=".components.main_screen.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".content_provider.EarlyInitProvider"
            android:authorities="com.example.earlyinitprovider"
            android:exported="false"
            android:initOrder="100" />

        <meta-data android:name="com.yinkozi.EarlyInitCustomClass" android:value="true" />

    </application>

</manifest>